.gradle
**/local.properties
.DS_Store
build
/captures
**/.idea/*
!.idea/dictionaries
!.idea/fileTemplates
!.idea/file.template.settings.xml
!.idea/inspectionProfiles
*.iml
.externalNativeBuild
.cxx

# Bazel (F-042 sample and any future workspaces)
bazel-sample/bazel-*
**/bazel-bin
**/bazel-out
**/bazel-testlogs
**/.bazeliskrc
